*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #220f3a;
}


/* Shared tag  */

.Wave{
    background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
);

-webkit-background-clip: text;
color: transparent;
font-size: 4rem;
}

.subscribe-btn{
    background: linear-gradient(
    45deg,
    #F7E93F,
    #FB09B4,
    #9100F8
    );
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
}

.grid-cart-section-heading{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
}

.grid-cart-section-paragraph{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}

.Grid-heading{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.rating-review{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}



/* Nav bar styles */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
}
.list-items ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 0.90rem;
    font-weight: 500;
}
.list-items ul a{
    text-decoration: none;
    color: white;
    
}
.Tech{
    color: white;
    font-size: 4rem;
    font-weight: 600;
}


/* Hero section started from here  */


.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
/* .hero-description{
    position: relative;
} */
.circle{
    position: absolute;
    top: 101px;
    left: 625px;
}
.microphone{
    position: absolute;
    top: 178.33px;
    left: 741.67px;
}

.new{
    background-color: #00FF88;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    border-radius: 8px;
    top: 113px;
    left: 877px;


    animation: float 3s ease-in-out infinite, glow 2s infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes glow {
  0% { box-shadow: 0 0 5px #38bdf8; }
  50% { box-shadow: 0 0 25px #38bdf8; }
  100% { box-shadow: 0 0 5px #38bdf8; }
}

.grid-heading{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    position: absolute;
    top: 491px;
    left: 45%;
    transform: translateX(-10%);
}

.grid-cart-section-paragraph{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 572px;
}
.hero-section .subscribe-btn{
    /* border: 2px solid red; */
    max-width: 200px;
    position: absolute;
    top: 615px;
    left: 622px;
}

.hero-button-subscribe{
    color: #00FF88;
    display: flex;
    justify-content: center;
    gap: 3px;
    border: 1px solid #00FF88;
    max-width: 147px;
    border-radius: 8px;
    padding: 12.5px 20px 12.5px ;
    position: absolute;
    top: 615px;
    left: 831px;
    cursor: pointer;
}

/* Podcast Folder started from here  --> */

.whole-podcast{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    gap: 20px;
}

.reputation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.podcast-paragraph{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    /* max-width: 1200px; */
    text-align: center;
}



